/* 
! Mobile-First Approach
- Variables
- Reset
- Base Styles
- Utility Styles
- Mobile Styles
- Tablet Styles
- Desktop Styles 
*/

/* Variables */
:root {
    /* Primary Color */
    --violet: hsl(263, 55%, 52%);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral Color */
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

/* Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: var(--light-grayish-blue);
    font-size: 0.813rem;
}

h3 {
    font-weight: 500;
    font-size: 0.97rem;
}

section {
    border-radius: 10px;
    padding-inline: 1.5rem;
    padding-block: 1.8rem;
}

section .grid--header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

img {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

section .header--content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.header--content p {
    font-weight: 500;
    font-size: 0.82rem;
}

.grid--header ~ p {
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 0.73239rem;
}

section p.prologue {
    font-weight: 600;
    font-size: 1.029rem;
    margin-block: 1.5rem;
}

/* Utility Styles */
.container {
    width: min(85%, 1200px);
    margin-inline: auto;
}

/* Mobile Styles */
/* Main Styles */
main {
    display: grid;
    gap: 1.6rem;
    margin-block: 5rem;
}

/* Section Styles */
/* First__Section Styles */
.first__section {
    background: var(--violet);
}

.first__section h3 {
    color: var(--light-grayish-blue);
}

.first__section .header--content p {
    color: hsla(210, 46%, 95%, 0.5);
}

.first__section .grid--header ~ p {
    color: hsla(0, 0%, 100%, 0.7);
}

.first__section p.prologue {
    color: var(--white);
}

/* Second__Section Styles */
.second__section {
    background: var(--dark-grayish-blue);
}

.second__section h3 {
    color: var(--light-gray);
}

.second__section .header--content p{
    color: hsl(0, 0%, 81%, 0.5);
}

.second__section .grid--header ~ p {
    color: hsl(0, 0%, 100%, 0.7);
}

.second__section p.prologue {
    color: var(--white);
}

/* Third__Section Styles */
.third__section {
    background: var(--white);
}
.third__section h3 {
    color: var(--dark-blackish-blue);
}

.third__section .header--content p{
    color: hsl(219, 29%, 14%, 0.5);
}

.third__section .grid--header ~ p {
    color: hsl(219, 29%, 14%, 0.7);
}

.third__section p.prologue {
    color: var(--dark-blackish-blue);
}

/* Fourth__Section Styles */
.fourth__section {
    background: var(--dark-blackish-blue);
}

.fourth__section h3 {
    color: var(--light-gray);
}

.fourth__section .header--content p{
    color: hsl(0, 0%, 100%, 0.5);
}

.fourth__section .grid--header ~ p {
    color: hsl(0, 0%, 81%, 0.7);
}

.fourth__section p.prologue {
    color: var(--light-gray);
}

/* Fifth__Section Styles */
.fifth__section {
    background: var(--white);
}

.fifth__section h3 {
    color: var(--dark-blackish-blue);
}

.fifth__section .header--content p{
    color: hsl(219, 29%, 14%, 0.5);
}

.fifth__section .grid--header ~ p {
    color: hsl(217, 19%, 35%, 0.7);
}

.fifth__section p.prologue {
    color: var(--dark-grayish-blue);
}