/* 
! Mobile-First Approach
- Variables
- Reset
- Base Styles
- Utility Styles
- Mobile Styles
- Tablet Styles
- Desktop Styles 
*/

/* Variables */
:root {
    /* Primary Color */
    --violet: hsl(263, 55%, 52%);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral Color */
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

/* Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: var(--light-grayish-blue);
    font-size: 0.813rem;
}

section {
    background: white;
    border-radius: 10px;
    padding-inline: 1.5rem;
    padding-block: 1.8rem;
}

section .grid--header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

img {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

section .header--content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.header--content p {
    font-weight: 500;
}

.grid--header ~ p {
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 0.73239rem;
}

section p.prologue {
    font-weight: 600;
    font-size: 1.029rem;
    margin-block: 1.5rem;
}

/* Utility Styles */
.container {
    width: min(85%, 1200px);
    margin-inline: auto;
}

/* Mobile Styles */
/* Main Styles */
main {
    display: grid;
    gap: 1.6rem;
    margin-block: 5rem;
}

/* Section Styles */